@import url('https://fonts.googleapis.com/css?family=Montserrat:700|Roboto:400,500,700');


body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}


.header {
  text-align: center;
  padding: 20px;
  background-color: dodgerblue;
  border-bottom: darkblue solid 5px;
}

.header h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  margin-top: 15px;
  text-decoration: underline;
}

.header span {
  float: right;
  color: black;
}


.timer-wrapper {
  float: left;
  max-width: 45%;
  width: 45%;
  margin: 15px;
}


/****** Master Timer  ******/
.timer-master {
  margin: 10px;
  border-bottom: 2px solid black;
}

.timer-master h2 {
  text-decoration: underline;
  font-size: 1.75em;
}

.timer-master span {
  margin-left: 20%;
  font-size: 4rem;
}

.timer-master button {
  margin: 0 0 5px 5px;
}

.timer-btn-stop {
  background-color: #c62828;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

/****** Master Timer Buttons  ******/

.timer-btn-start {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.timer-btn-disable {
  background-color: darkgray;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.timer-btn-reset {
  background-color: #d84315;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.timer-btn-reset-off {
  background-color: darkgray;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

button:hover {
  opacity: 0.8;
}

/****** Panel Styles  ******/
.panel {
  float: right;
  margin: 20px 55px;  
}

.panel h2 {
  text-decoration: underline;
  font-size: 1.75em;
}

.panel-player-on {
  background-color: #3498db;
  border:none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin-right: 10px;
}

.panel-player-off {
  background-color: darkgray;
  border:none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin-right: 10px;
}

.panel input {
  display: block;
  margin-top: 15px;
}

/****** Player Styles  ******/
.player-time-player-running {
  color: cornflowerblue;
}

.player-time-player-stopped {
  color: #38ae58;
}

.timer-player-wrapper {
  padding-left: 17px;
  font-size: 1.3rem;
  display: inline-block;
}

.player-button-enable {
  margin-left: 20px;
  background-color: rgb(76, 175, 80);
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
}

.player-button-disable {
  margin-left: 20px;
  background-color: darkgray;
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
}

.player-button-resume {
  margin-left: 20px;
  background-color: #c62828;
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
}

/****** Setting Styles  ******/
.settings-wrapper {
  float: right;
  margin: 0px 250px;
}

.settings-wrapper h2 {
  text-decoration: underline;
  font-size: 1.75em;
}

.settings-wrapper h3 {
  text-decoration: underline;
  font-size: 1.30em;
}

.settings-wrapper input[type=text], select, input[type=number] {
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.settings-wrapper input[type=submit] {
  width: 100%;
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.settings-wrapper input[type=submit]:hover {
  background-color: #45a049;
}

/* Somebody teach me how to css pls */
