@import url('https://fonts.googleapis.com/css?family=Montserrat:700|Roboto:400,500,700');

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.header {
  text-align: center;
  padding: 20px;
  background-color: dodgerblue;
  border-bottom: darkblue solid 5px;
}

.header small {
  float: right;
}

.timer-wrapper {
  float: left;
  max-width: 45%;
  width: 45%;
  margin: 15px;
}
/****** Master Timer  ******/

.timer-master {
  margin: 10px;
  border-bottom: 2px solid black;
}

.timer-master h2 {
  text-decoration: underline;
  font-size: 1.75em;
}

.timer-master span {
  margin-left: 20%;
  font-size: 4rem;
}

.timer-master button {
  margin: 0 0 5px 5px;
}
/****** Player Styles  ******/

.player-time-player-running {
  color: cornflowerblue;
}

.player-time-player-stopped {
  color: #38ae58;
}

.timer-player-wrapper {
  font-size: 1.3rem;
  display: block;
  padding: 20px;
  margin-left: 10px;
  border-bottom: 2px solid black;
}

.timer-player-wrapper button {
  margin-left: 10px;
}
/****** Setting Styles  ******/

.settings-wrapper h2 {
  text-decoration: underline;
  font-size: 1.75em;
}

.settings-wrapper h3 {
  text-decoration: underline;
  font-size: 1.30em;
}
/****** Panel aka Player Setup Styles  ******/

.panel h2 {
  text-decoration: underline;
  font-size: 1.75em;
}

.button-margin {
  margin-right: 10px;
}

.button-margin:nth-child(5) {
  margin-right: 0;
}

.panel input {
  display: block;
  margin-top: 15px;
}
/****** Sidebar styles ******/

.sidebar-wrapper {
  float: right;
  margin: 30px 15px;
  max-width: 45%;
}

.sidebar-wrapper #settings,
.sidebar-wrapper #player-setup {
  margin-bottom: 20px;
}
/* fix for bootstrap displaying colors badly (https://github.com/twbs/bootstrap/issues/18786) */

.form-control {
  height: 2.375rem;
}

textarea,
select[multiple] {
  height: auto;
}
/* Somebody teach me how to css pls */
